* {
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  height: 600px;
  margin: auto;
}

.nav-bar {
  width: 100%;
  height: 80px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar h1 {
  margin-left: 20px;
}

.nav-bar p {
  background-color: white;
  color: rgb(150, 146, 146);
  border: 2px solid black;
  width: 260px;
}

.nav-bar button {
  margin-right: 20px;
  width: 70px;
  height: 23px;
  background-color: rgb(91, 193, 227);
  box-shadow: 4px 4px black;
  border-color: black;
  color: white;
}

.body {
  display: flex;
}

.left-container {
  height: 400px;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.top-left {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  border: 2px solid black;
  margin: 20px 10px 10px 0;
  padding: 13px;
}

.ninja {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ninja button {
  margin-top: 15px;
  border: 2px solid black;
  background-color: yellow;
  width: 80px;
  box-shadow: 2px 2px 2px;
  height: 23px;
  text-align: center;
}

.ninja-right {
  padding: 35px;
  margin-right: 75px;
}

.ninja-right span {
  color: rgb(25, 126, 249);
  text-decoration: underline;
}

.bottom-left {
display: flex;
align-content: flex-start;
justify-content: space-between;
border: 2px solid black;
margin: 20px 10px 10px 0;
padding: 13px;
}

.right-container {
  height: 400px;
  flex: 1;
}

.top-right {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  border: 2px solid black;
  margin: 20px 0px 10px 10px;
  padding: 13px;
  flex-direction: column;
}

.top-right button {
  margin-top: 15px;
  border: 2px solid black;
  background-color: rgb(31, 154, 53);
  width: 202px;
  box-shadow: 2px 2px 2px;
  height: 30px;
  text-align: center;
}
